@page "{id:int?}"
@model CourseManager.RazorPages.Pages.Students.Details
@using CourseManager.RazorPages.Pages.Students

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="">
        <p>
            <strong>Nome Cliente:</strong>
            @Model.Student!.StudentName
        </p>
        <p>
            <strong>Email:</strong>
            @Model.Student!.Email
        </p>
        <p>
            <strong>Data:</strong>
            @Model.Student!.EnrollmentDate
        </p>
        <p>
            <strong>Cursos:</strong>
        </p>

        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Courses[0].CourseName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Courses[0].Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Courses[0].StartDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Courses[0].EndDate)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var curseModel in Model.Courses)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(model => curseModel.CourseId)</th>
                        <td>@Html.DisplayFor(model => curseModel.CourseName)</td>
                        <td>@Html.DisplayFor(model => curseModel.Description)</td>
                        <td>@Html.DisplayFor(model => curseModel.StartDate)</td>
                        <td>@Html.DisplayFor(model => curseModel.EndDate)</td>
                    </tr>
                }
            </tbody>
        </table>
        </table>
        <a asp-page="/Students/View" class="btn btn-primary">Voltar</a>
    </div>
</div>